.headerBox{
    position: fixed;
    top:0;
    z-index: 10;
    width: 100%;
    height: 60px;
    background: #001224;
}
.headerBox a{
    color: #acacac;
}
.headerBox a:hover{
    color: #fff !important;
}
.headerBox::after{
    display: block;
    content: '';
    clear: both;
}
.headerBox .oneLevel{
    display: flex;
    justify-content: flex-start;
}
.headerBox .oneLevel>li{
    width: 180px;
}
.headerBox .oneLevel>li>a{
    display: block;
    line-height: 60px;
    color: #bdbdbd;
}
.logoBox{
    width: 100px;
    line-height: 60px;
    margin-right: 50px;
    background: url("/assets/images/heliu.png") no-repeat -70px -118px;
}
.logoBox a{
    display: block;
    width: 100%;
    height: 100%;
}
.related>a{
    display: block;
}
.related:hover .category{
    display: block;
}
.category{
    display: none;
    position: relative;
    background: #001928;
}
.category a{
    display: block;
    width: 150px;
    line-height: 50px;
    padding-left: 15px;
}